* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container {
    background: white;
    border: 1px solid #ccc;
    padding: 30px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.top-bar {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.top-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #a78bfa;
    border-radius: 5px;
    outline: none;
    color: #666;
}

.search-btn,
.send-btn,
.mode-btn {
    background: #7c3aed;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #e5e7eb;
    padding: 12px 0;
    position: relative;
}


ul, li {
    text-decoration: none;
    list-style: none;
}

.todo-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #6366f1;
}

.todo-item label {
    font-weight: bold;
    color: #111827;
}

.todo-item.checked label {
    color: #9ca3af;
}

.icons {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 8px;
}

.icon {
    cursor: pointer;
    font-size: 16px;
}


.dark {
    background-color: black;
}

.white {
    color: white;
}
