main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: grey;
    color: white;
}

img{
    margin: 150px auto;
    width: 600px;
    height: 400px;
}

.secret{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: red;
    color: white;
    margin-top: 1000px;
    position: absolute;
}

@media (max-width: 400px) {
    main{
        flex-direction: column;
    }
    button{
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background-color: grey;
        color: white;
    }

    img{
        width: 300px;
        height: 200px;
    }
}

@media (min-width: 320px) {
    main{
        flex-direction: column;
    }
    button{
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background-color: grey;
        color: white;
    }

    img{
        width: 300px;
        height: 200px;
    }
}